body {
  font-family: 'Roboto', sans-serif;
  color: #58585D;
  box-sizing: border-box;
}

p, ul, label, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

.main-page-heading {
  color: #C79C74;
  text-align: center;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 1.8px;
  font-weight: 500;
}

.btn {
  border: none;
  background: #D6B495;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  border: 2px solid #D6B495;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #fff;
  color: #D6B495;
}

.red-btn {
  background: #fff;
  color: #e42947;
  font-weight: 400;
  font-size: 18px;
  border-radius: 5px;
  padding: 6px 37px;
  border: 2px solid #e42947;
  transition: all 0.3s ease;
  outline: none;
}

.red-btn:hover {
  color: #ffffff;
  background: #e42947;
  outline: none;
}

.no-bg-btn {
  border: none;
  color: #D6B495;
  background: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.no-bg-btn:hover {
  color: #E2CBB6;
}

.black-fill {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
  display: block !important;
}

.close-modal {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.modal-create-memorial {
  position: fixed;
  background: #fff;
  z-index: 200;
  height: 90%;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  border-radius: 20px;
  width: 76vw;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.35);
}

.create-memorial__heading {
  display: flex;
  justify-content: center;
  background: #f5f4f4;
  padding: 25px;
}

.create-memorial__heading h2 {
  margin: 0;
  color: #4C4C51;
  font-size: 32px;
  font-weight: 400;
}

.create-memorial__content {
  display: flex;
  padding: 35px 0;
}

.create-memorial__left {
  width: 50%;
  padding-left: 30px;
}

.create-memorial__left_heading {
  color: #4C4C51;
  font-size: 22px;
  padding-bottom: 15px;
}

.create-memorial__left_name input {
  width: 100%;
  padding-left: 20px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #b7b7b7;
}

.create-memorial__left_pickers_birth, .create-memorial__left_pickers_passed {
  padding-top: 30px;
}

.create-memorial__left_pickers_birth .date-of-birth, .create-memorial__left_pickers_birth .place-of-birth, .create-memorial__left_pickers_birth .date-of-passing-away, .create-memorial__left_pickers_birth .place-of-passing-away, .create-memorial__left_pickers_passed .date-of-birth, .create-memorial__left_pickers_passed .place-of-birth, .create-memorial__left_pickers_passed .date-of-passing-away, .create-memorial__left_pickers_passed .place-of-passing-away {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.create-memorial__left_pickers_birth .date-of-birth label, .create-memorial__left_pickers_birth .place-of-birth label, .create-memorial__left_pickers_birth .date-of-passing-away label, .create-memorial__left_pickers_birth .place-of-passing-away label, .create-memorial__left_pickers_passed .date-of-birth label, .create-memorial__left_pickers_passed .place-of-birth label, .create-memorial__left_pickers_passed .date-of-passing-away label, .create-memorial__left_pickers_passed .place-of-passing-away label {
  margin: 0;
  font-size: 18px;
  color: #4C4C51;
}

.create-memorial__left_pickers_birth .date-of-birth input, .create-memorial__left_pickers_birth .place-of-birth input, .create-memorial__left_pickers_birth .date-of-passing-away input, .create-memorial__left_pickers_birth .place-of-passing-away input, .create-memorial__left_pickers_passed .date-of-birth input, .create-memorial__left_pickers_passed .place-of-birth input, .create-memorial__left_pickers_passed .date-of-passing-away input, .create-memorial__left_pickers_passed .place-of-passing-away input {
  height: 45px;
  border-radius: 5px;
  border: 1px solid #b7b7b7;
  width: 210px;
  margin-right: 97px;
  padding-left: 50px;
  padding-top: 4px;
}

.create-memorial__left_pickers_birth .birth-date-icon, .create-memorial__left_pickers_birth .passing-away-date-icon, .create-memorial__left_pickers_passed .birth-date-icon, .create-memorial__left_pickers_passed .passing-away-date-icon {
  position: absolute;
  right: 273px;
  z-index: 2;
}

.create-memorial__left_pickers_birth .place-of-birth, .create-memorial__left_pickers_birth .place-of-passing-away, .create-memorial__left_pickers_passed .place-of-birth, .create-memorial__left_pickers_passed .place-of-passing-away {
  padding-top: 30px;
}

.create-memorial__left_pickers_birth .place-of-birth input, .create-memorial__left_pickers_birth .place-of-passing-away input, .create-memorial__left_pickers_passed .place-of-birth input, .create-memorial__left_pickers_passed .place-of-passing-away input {
  width: 308px;
  padding-left: 20px;
  margin-right: 0;
}

.create-memorial__left_checkbox {
  margin-top: 30px;
  position: relative;
}

.create-memorial__left_checkbox label {
  margin-left: 45px;
}

.create-memorial__left_checkbox input[type="checkbox"] {
  display: none;
}

.create-memorial__left_checkbox input[type="checkbox"] + label:before {
  content: url("../images/vektor/checkbox-circle.svg");
  cursor: pointer;
  margin-right: 8px;
  margin-right: 8px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}

.create-memorial__left_checkbox input[type="checkbox"]:checked + label:before {
  content: url("../images/vektor/checkbox-circle-checked.svg");
}

.create-memorial__left_pickers_passed {
  opacity: 0.3;
}

.create-memorial__left_pickers_passed_checked {
  opacity: 1;
}

.create-memorial__right {
  width: 50%;
  padding-left: 50px;
  padding-right: 50px;
}

.create-memorial__right_heading {
  color: #4C4C51;
  font-size: 22px;
  padding-bottom: 15px;
}

.create-memorial__right_image {
  position: relative;
}

.create-memorial__right .background-photo {
  background: #e2e2e2;
  height: 130px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-memorial__right .background-photo__inner {
  width: 95%;
  height: 83%;
  border: 4px dashed #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.create-memorial__right .background-photo__inner_upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 35px;
}

.create-memorial__right .background-photo_image {
  padding-bottom: 12px;
}

.create-memorial__right .background-photo_text {
  font-size: 18px;
}

.create-memorial__right .profile-photo {
  background: #e2e2e2;
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  left: 8%;
  top: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #fff;
  cursor: pointer;
}

.create-memorial__right .profile-photo__inner {
  width: 85%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px dashed #fff;
  border-radius: 50%;
}

.create-memorial__right .profile-photo__inner_upload {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.create-memorial__right .profile-photo__inner_image {
  padding-bottom: 7px;
}

.create-memorial__right .profile-photo__inner_text {
  font-size: 16px;
  max-width: 82px;
  text-align: center;
}

.create-memorial__right .photo-text {
  position: absolute;
  right: 10px;
  max-width: 50%;
  text-align: center;
  top: 140px;
  font-size: 14px;
  color: #b9b7b7;
}

.create-memorial__right_settings {
  margin-top: 85px;
  font-size: 22px;
}

.create-memorial__right_checkbox {
  position: relative;
  margin-top: 20px;
}

.create-memorial__right_checkbox label {
  margin-left: 35px;
}

.create-memorial__right_checkbox input[type="checkbox"] {
  display: none;
}

.create-memorial__right_checkbox input[type="checkbox"] + label:before {
  content: url("../images/vektor/checkbox-circle.svg");
  cursor: pointer;
  margin-right: 8px;
  margin-right: 8px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}

.create-memorial__right_checkbox input[type="checkbox"]:checked + label:before {
  content: url("../images/vektor/checkbox-circle-checked.svg");
}

.create-memorial__right .right-checkbox__helper {
  color: #b9b7b7;
  margin-left: 35px;
  font-size: 14px;
}

.create-memorial__right_buttons {
  margin-top: 37px;
}

.create-memorial__right_buttons button {
  height: 45px;
  font-weight: 400;
  font-size: 16px;
  padding: 0 28px;
  margin-right: 30px;
  border-radius: 8px;
}

.create-memorial__right_buttons button:last-of-type {
  margin-right: 0;
}

.modal-create-memory {
  position: fixed;
  background: #fff;
  z-index: 200;
  height: 90%;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  border-radius: 20px;
  width: 76vw;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.35);
}

.modal-create-memory .close-modal {
  position: absolute;
  right: 13px;
  top: 13px;
  cursor: pointer;
  z-index: 201;
}

.create-memory__content {
  width: 100%;
  height: 100%;
  display: flex;
}

.create-memory__left {
  width: 50%;
  height: 100%;
}

.create-memory__left_image {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.create-memory__image_outer {
  width: 90%;
  height: 100%;
  background: #e2e2e2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.create-memory__image_inner {
  width: 90%;
  height: 85%;
  border: 3px dashed #fff;
  border-radius: 10px;
  margin-top: 20px;
}

.create-memory__image_inner_upload {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: 0 48px;
}

.create-memory__image_inner_upload_pic {
  padding-bottom: 40px;
}

.create-memory__image_inner_upload_click {
  padding-bottom: 40px;
  text-align: center;
  font-size: 22px;
  color: #4C4C51;
  width: 70%;
}

.create-memory__image_inner_upload_helper {
  text-align: center;
  font-size: 22px;
  color: #4C4C51;
  opacity: 0.5;
  padding-bottom: 70px;
}

.create-memory__image_text {
  color: #4C4C51;
  opacity: 0.5;
  font-size: 21px;
  text-align: center;
  padding: 0 20px;
}

.create-memory__right {
  width: 50%;
  margin-left: 10px;
  position: relative;
}

.create-memory__right form {
  padding: 20px 40px 20px 0;
}

.create-memory__right form input, .create-memory__right form textarea {
  height: 45px;
  border: none;
  border-bottom: 1px solid #979797;
  width: 100%;
  color: #58585D;
  font-size: 18px;
}

.create-memory__right form input::placeholder, .create-memory__right form textarea::placeholder {
  color: #4C4C51;
  opacity: 0.5;
}

.create-memory__right form textarea {
  min-height: 100px;
  max-height: 100px;
}

.create-memory__right_title, .create-memory__right_hashtag, .create-memory__right_description {
  padding-top: 20px;
}

.create-memory__right .create-memory__right_datepicker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.create-memory__right .create-memory__right_datepicker label {
  color: #4C4C51;
  opacity: 0.5;
  font-size: 18px;
}

.create-memory__right .create-memory__right_datepicker .create-memory__datepicker_calendar {
  position: absolute;
  right: 170px;
}

.create-memory__right .create-memory__right_datepicker .create-memory__datepicker_arrow {
  position: absolute;
  right: 20px;
}

.create-memory__right .create-memory__right_datepicker input {
  border: 1px solid #DFE2E6;
  width: 200px;
  border-radius: 10px;
  padding: 5px 0 0 45px;
}

.create-memory__right_type {
  margin-top: 20px;
}

.create-memory__right_type_heading {
  color: #4C4C51;
  opacity: 0.5;
  font-size: 18px;
}

.create-memory__right_type_list {
  list-style: none;
}

.create-memory__right_type_list li {
  position: relative;
  margin-top: 15px;
}

.create-memory__right_type_list li label {
  margin-left: 35px;
  cursor: pointer;
}

.create-memory__right_type_list li input[type="checkbox"] {
  display: none;
}

.create-memory__right_type_list li input[type="checkbox"] + label:before {
  content: url("../images/vektor/checkbox-circle.svg");
  cursor: pointer;
  margin-right: 8px;
  margin-right: 8px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}

.create-memory__right_type_list li input[type="checkbox"]:checked + label:before {
  content: url("../images/vektor/checkbox-circle-checked.svg");
}

.create-memory__right_button {
  position: absolute;
  bottom: 20px;
  right: 40px;
}

.create-memory__right_button button {
  background: #e42947;
  color: #ffffff;
}

.create-memory__right_button button:hover {
  color: #e42947;
  background: #fff;
}

@media only screen and (max-width: 1440px) {
  .create-memorial__left_heading {
    font-size: 20px;
  }
  .create-memorial__left_pickers_birth .date-of-birth label, .create-memorial__left_pickers_birth .place-of-birth label, .create-memorial__left_pickers_birth .date-of-passing-away label, .create-memorial__left_pickers_birth .place-of-passing-away label, .create-memorial__left_pickers_passed .date-of-birth label, .create-memorial__left_pickers_passed .place-of-birth label, .create-memorial__left_pickers_passed .date-of-passing-away label, .create-memorial__left_pickers_passed .place-of-passing-away label {
    width: 115px;
    font-size: 14px;
  }
  .create-memorial__right_buttons button:first-of-type {
    margin-right: 20px;
  }
  .modal-create-memory {
    width: 85vw;
  }
  .create-memory__image_text {
    font-size: 17px;
  }
  .create-memory__image_inner_upload_click {
    font-size: 20px;
    padding-bottom: 30px;
  }
  .create-memory__image_inner_upload_helper {
    padding-bottom: 50px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .create-memorial__content {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
  .create-memorial__left {
    width: 100%;
    padding: 0;
  }
  .create-memorial__left form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .create-memorial__left_heading {
    width: 100%;
    text-align: center;
  }
  .create-memorial__left_name {
    width: 100%;
  }
  .create-memorial__left_pickers_birth, .create-memorial__left_pickers_passed {
    width: 100%;
  }
  .create-memorial__left .birth-date-icon, .create-memorial__left .passing-away-date-icon {
    right: 176px;
  }
  .create-memorial__left .date-of-birth input, .create-memorial__left .date-of-passing-away input {
    margin-right: 0;
  }
  .create-memorial__left .create-memorial__left_pickers_birth label, .create-memorial__left .create-memorial__left_pickers_passed label,
  .create-memorial__left .date-of-birth label, .create-memorial__left .place-of-birth label, .create-memorial__left .date-of-passing-away label, .create-memorial__left .place-of-passing-away label {
    width: auto;
    font-size: 16px;
  }
  .create-memorial__left_checkbox {
    align-self: flex-start;
  }
  .create-memorial__right {
    width: 100%;
    padding: 0;
    margin-top: 40px;
  }
  .create-memorial__right_heading {
    padding-bottom: 25px;
  }
  .create-memorial__right_image {
    display: flex;
    justify-content: center;
  }
  .create-memorial__right_image .background-photo {
    width: 450px;
    height: 140px;
  }
  .create-memorial__right_image .profile-photo {
    left: unset;
    right: 58%;
    top: 50%;
  }
  .create-memorial__right_image .photo-text {
    max-width: 40%;
    right: 16%;
    top: 150px;
  }
  .create-memorial__right_settings {
    margin-top: 110px;
  }
  .create-memorial__right_checkbox {
    margin-top: 30px;
  }
  .create-memory__image_outer {
    width: 100%;
  }
  .create-memory__right_title, .create-memory__right_hashtag, .create-memory__right_description {
    padding-top: 13px;
  }
  .create-memory__right form input, .create-memory__right form textarea {
    height: 40px;
  }
  .create-memory__right form textarea {
    min-height: 60px;
    max-height: 60px;
  }
  .create-memory__right_type {
    margin-top: 12px;
  }
  .create-memory__right_type_list li {
    margin-top: 9px;
  }
}

@media only screen and (max-width: 992px) {
  .modal-create-memory .close-modal {
    right: 20px;
  }
  .create-memory__content {
    flex-direction: column;
    padding-top: 35px;
  }
  .create-memory__left {
    width: 100%;
  }
  .create-memory__left_image {
    height: 400px;
  }
  .create-memory__right {
    width: 100%;
    padding: 0 20px 20px 20px;
  }
  .create-memory__right_type {
    padding-bottom: 80px;
  }
  .create-memory__image_inner_upload_helper {
    padding-bottom: 30px;
    font-size: 18px;
  }
  .create-memory__image_inner_upload_click {
    font-size: 18px;
    padding-bottom: 20px;
    width: 60%;
  }
  .create-memory__right {
    padding: 0 20px;
    margin: 0;
  }
  .create-memory__right form {
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .modal-create-memorial {
    width: 88vw;
  }
  .modal-create-memorial .close-modal {
    top: 10px;
  }
  .create-memorial__content {
    width: 85%;
    padding-top: 18px;
  }
  .create-memorial__heading {
    text-align: center;
  }
  .create-memorial__heading h2 {
    font-size: 23px;
  }
  .create-memorial__left_heading {
    font-size: 18px;
  }
  .create-memorial__left_pickers_birth, .create-memorial__left_pickers_passed {
    padding-top: 20px;
  }
  .create-memorial__left_pickers_birth .date-of-birth, .create-memorial__left_pickers_birth .place-of-birth, .create-memorial__left_pickers_birth .date-of-passing-away, .create-memorial__left_pickers_birth .place-of-passing-away, .create-memorial__left_pickers_passed .date-of-birth, .create-memorial__left_pickers_passed .place-of-birth, .create-memorial__left_pickers_passed .date-of-passing-away, .create-memorial__left_pickers_passed .place-of-passing-away {
    flex-direction: column;
    align-items: flex-start;
  }
  .create-memorial__left_pickers_birth .date-of-birth input, .create-memorial__left_pickers_birth .place-of-birth input, .create-memorial__left_pickers_birth .date-of-passing-away input, .create-memorial__left_pickers_birth .place-of-passing-away input, .create-memorial__left_pickers_passed .date-of-birth input, .create-memorial__left_pickers_passed .place-of-birth input, .create-memorial__left_pickers_passed .date-of-passing-away input, .create-memorial__left_pickers_passed .place-of-passing-away input {
    width: 100%;
    margin-top: 12px;
  }
  .create-memorial__left .birth-date-icon, .create-memorial__left .passing-away-date-icon {
    left: 17px;
    top: 45px;
  }
  .create-memorial__right {
    margin-top: 30px;
  }
  .create-memorial__right_image {
    justify-content: center;
  }
  .create-memorial__right_image .background-photo {
    width: 320px;
    height: 120px;
  }
  .create-memorial__right_image .background-photo__inner {
    justify-content: center;
  }
  .create-memorial__right_image .background-photo__inner_image {
    padding-bottom: 5px;
  }
  .create-memorial__right_image .background-photo__inner_image img {
    width: 22px;
  }
  .create-memorial__right_image .background-photo__inner_text {
    font-size: 13px;
  }
  .create-memorial__right_image .background-photo__inner_upload {
    padding: 0;
    margin-left: 80px;
  }
  .create-memorial__right_image .profile-photo {
    width: 120px;
    height: 120px;
    top: 50%;
    right: 53%;
    left: unset;
  }
  .create-memorial__right_image .profile-photo__inner_image {
    padding-bottom: 3px;
  }
  .create-memorial__right_image .profile-photo__inner_image img {
    width: 20px;
  }
  .create-memorial__right_image .profile-photo__inner_text {
    font-size: 13px;
  }
  .create-memorial__right_image .photo-text {
    max-width: unset;
    width: 180px;
    top: 105%;
    left: 45%;
  }
  .create-memorial__right_buttons {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
  }
  .create-memorial__right_buttons button {
    margin-top: 37px;
  }
  .create-memorial__right_buttons button:first-of-type {
    margin-right: 0;
  }
  .create-memory__image_inner_upload_helper {
    padding-bottom: 30px;
    font-size: 18px;
  }
  .create-memory__image_inner_upload_click {
    font-size: 18px;
    padding-bottom: 20px;
    width: 60%;
  }
}

@media only screen and (max-width: 576px) {
  .create-memory__image_inner_upload {
    padding: 0 20px;
    justify-content: center;
  }
  .create-memory__image_inner_upload_helper {
    font-size: 16px;
    padding-bottom: 20px;
  }
  .create-memory__image_inner_upload_click {
    font-size: 16px;
    width: 100%;
  }
  .create-memory__image_inner_upload_pic {
    padding-bottom: 20px;
  }
  .create-memory__image_text {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 15px;
  }
  .create-memory__right {
    padding: 0 20px;
    margin: 0;
  }
  .create-memory__right form {
    padding: 0;
  }
  .create-memory__right form textarea {
    min-height: 100px;
    max-height: 100px;
  }
  .create-memory__right .create-memory__right_datepicker {
    flex-direction: column;
    align-items: flex-start;
  }
  .create-memory__right .create-memory__right_datepicker input {
    width: 100%;
    margin-top: 20px;
  }
  .create-memory__right .create-memory__right_datepicker .create-memory__datepicker_calendar {
    top: 53px;
    left: 16px;
    right: unset;
  }
  .create-memory__right .create-memory__right_datepicker .create-memory__datepicker_arrow {
    right: 20px;
    top: 53px;
    left: unset;
  }
  .create-memory__right_type {
    padding-bottom: 30px;
  }
  .create-memory__right_button {
    position: static;
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
    width: 100%;
  }
  .create-memory__right_button button {
    width: 100%;
  }
}

@media only screen and (max-width: 420px) {
  .create-memorial__right_image {
    justify-content: flex-start;
  }
  .create-memorial__right_image .background-photo {
    width: 250px;
    height: 110px;
  }
  .create-memorial__right_image .background-photo__inner {
    justify-content: center;
  }
  .create-memorial__right_image .background-photo__inner_image {
    padding-bottom: 5px;
  }
  .create-memorial__right_image .background-photo__inner_upload {
    padding: 0;
  }
  .create-memorial__right_image .profile-photo {
    width: 110px;
    height: 110px;
    left: 3%;
    top: 60%;
  }
  .create-memorial__right_image .profile-photo__inner_image {
    padding-bottom: 3px;
  }
  .create-memorial__right_image .profile-photo__inner_image img {
    width: 20px;
  }
  .create-memorial__right_image .profile-photo__inner_text {
    font-size: 12px;
  }
  .create-memorial__right_image .photo-text {
    width: 120px;
    top: 115px;
    left: 120px;
    font-size: 12px;
  }
}

.mb-15 {
  margin-bottom: 30px;
}

#active-page {
  color: #e42947;
}

.header {
  height: 90px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
  box-shadow: 0 0.6px 11.5px 0px rgba(0, 0, 0, 0.2);
}

.header-login {
  position: absolute;
  top: 24px;
  right: 177px;
}

.header-nav {
  display: flex;
  list-style: none;
}

.header-nav li {
  margin: 0 26px;
}

.header-nav li a {
  color: #58585D;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.header-nav li a:hover {
  color: #e42947;
}

.header .header-nav__container {
  margin-right: auto;
  padding-left: 60px;
}

.header-loggedIn {
  margin-left: 160px;
  padding: 10px 8px;
  display: flex;
  align-items: center;
  width: 260px;
  background: #f5f5f5;
  border-radius: 40px;
  position: absolute;
  top: 21px;
  right: 176px;
}

.loggedIn-user {
  position: relative;
  width: 60%;
}

.loggedIn-user:after {
  content: '';
  display: block;
  height: 100%;
  background: #8e8e94;
  width: 2px;
  position: absolute;
  top: 0;
  right: 0;
}

.loggedIn-pet {
  width: 40%;
}

.dropbtn-pet, .dropbtn-user {
  color: #58585D;
  border: none;
  background: #f5f5f5;
  display: flex;
  align-items: center;
}

.dropbtn-pet:focus, .dropbtn-user:focus {
  outline: none;
}

.dropbtn-pet p, .dropbtn-user p {
  margin: 0;
}

.dropdown-content__pet, .dropdown-content__user {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 90%;
  background: #fff;
  left: 0;
  top: 50px;
  border-radius: 20px;
}

.dropdown-content__pet a, .dropdown-content__user a {
  padding: 7px 20px;
  font-size: 17px;
  color: #e42947;
  text-decoration: none;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.dropdown-content__pet a:hover, .dropdown-content__user a:hover {
  background: #f5f5f5;
}

.dropdown-content__pet a:first-of-type, .dropdown-content__user a:first-of-type {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.dropdown-content__pet a:last-of-type, .dropdown-content__user a:last-of-type {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.dropdown-content__user {
  display: none;
  width: 150%;
  background: #fff;
  left: -8px;
  top: 40px;
}

.dropdown-content__user a {
  color: #58585D;
}

.dropdown-content__user a:first-of-type {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.dropdown-content__user a:last-of-type {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.dropdown-content__pet_active, .dropdown-content__user_active {
  display: flex;
}

.user-name {
  max-width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-image {
  width: 36px;
  height: 36px;
  margin-left: 10px;
  border-radius: 50%;
  position: absolute;
  right: 17px;
}

.pet-name {
  max-width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #e42947;
}

.pet-dropdown {
  position: absolute;
  top: 18px;
  right: 15px;
  transition: all 0.3s ease;
}

.hamburger {
  position: absolute;
  display: inline-block;
  top: 17px;
  right: 5px;
  overflow: visible;
  margin: 0;
  background-color: transparent;
  display: none;
}

.hamburger__container {
  position: relative;
  width: 35px;
  height: 24px;
  top: 0;
}

.hamburger__lines {
  position: absolute;
  display: block;
  width: 30px;
  height: 3px;
  background-color: #D6B495;
  border-radius: 10px;
  top: auto;
  bottom: 0;
  transition: all 0.2s;
}

.hamburger__lines:before, .hamburger__lines:after {
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 10px;
  bottom: 0;
  background-color: #D6B495;
}

.hamburger__lines:before {
  top: -10px;
  transition: all 0.2s;
}

.hamburger__lines:after {
  bottom: -10px;
  top: -20px;
  transition: all 0.2s;
}

.hamburger__active .hamburger__lines {
  transition: all 0.3s;
  background: transparent;
}

.hamburger__active .hamburger__lines:before {
  top: -10px;
  transform: rotate(135deg);
}

.hamburger__active .hamburger__lines:after {
  bottom: -10px;
  top: -10px;
  transform: rotate(-135deg);
}

.header-nav__active {
  position: absolute;
  display: block;
  text-align: center;
  left: 0;
  right: 0;
  top: 90px;
  padding: 15px 0;
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease;
}

.header-nav__active li {
  margin: 25px 15px;
}

.login-btn {
  background: #fff;
  color: #e42947;
  font-weight: 400;
  font-size: 18px;
  border-radius: 5px;
  padding: 6px 37px;
  border: 2px solid #e42947;
  transition: all 0.3s ease;
}

.login-btn:hover {
  color: #ffffff;
  background: #e42947;
}

#home {
  margin-top: 20px;
}

.main-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-about__title {
  color: #4C4C51;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0.4px;
  line-height: 1.3;
}

.main-about__subtitle {
  margin-top: 18px;
  font-weight: 500;
}

.main-about__btn {
  padding: 4px 65px;
  margin-top: 50px;
}

.main-about__btn:hover {
  background: #ffffff;
  color: #D6B495;
}

.main-about__example_btn {
  margin-top: 25px;
}

.main-image {
  visibility: hidden;
}

.main-image__item img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 380px;
  max-height: 380px;
  object-fit: cover;
}

.home-line {
  background: #e8e8e8;
  height: 2px;
}

.mission {
  margin-top: 80px;
}

.mission-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mission-info__text {
  text-align: center;
  line-height: 2.3;
  font-size: 17px;
}

.mission-info__tldr {
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  width: 70%;
  padding-bottom: 55px;
}

.mission-info__background img {
  display: block;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.features {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #F9F4EF;
  padding-bottom: 60px;
}

.features-heading {
  margin: 20px 0 42px 0;
}

.features-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.features-item__image img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0.85;
}

.features-item__title {
  text-transform: uppercase;
  padding-top: 26px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.articles {
  margin-top: 70px;
}

.articles-btn {
  margin: 30px 0 60px 0;
}

.articles-item {
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
  padding-bottom: 15px;
}

.articles-item__image {
  height: 273px;
}

.articles-item__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 6px solid #fff;
}

.articles-item__title {
  font-size: 21px;
  font-weight: 400;
  color: #4C4C51;
  max-width: 90%;
  padding: 15px 15px 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.articles-item__text {
  font-size: 18px;
  font-weight: 400;
  color: #88939E;
  padding: 25px 15px 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.testimonials {
  background-color: #F9F4EF;
  padding: 70px 0 45px 0;
  max-width: 1920px;
  margin: 0 auto;
}

.testimonials-slider {
  visibility: hidden;
}

.slider-item__info {
  padding: 0 40px;
  width: 100%;
}

.slider-item__info_author {
  text-align: right;
  color: #D6B495;
  padding-right: 30px;
}

.slider-item__image img {
  width: 320px;
  height: 320px;
  object-fit: cover;
  border-radius: 50%;
}

.slider-nav {
  display: flex;
  justify-content: center;
  width: 250px;
  margin: 0 auto;
  visibility: hidden;
}

.slider-nav__item {
  padding: 0 15px;
  cursor: pointer;
}

.slider-nav__item img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
}

.prev1 {
  background: url("../images/arrow-left.png");
  width: 40px;
  height: 40px;
  font-size: 50px;
  position: absolute;
  left: -46px;
  bottom: 25px;
  cursor: pointer;
}

.next1 {
  background: url("../images/arrow-right.png");
  width: 40px;
  height: 40px;
  font-size: 50px;
  position: absolute;
  left: 265px;
  bottom: 25px;
  cursor: pointer;
}

.home-quote {
  background: url("../images/quote1.png") no-repeat center;
  background-size: cover;
  height: 550px;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}

.home-quote__container {
  padding-bottom: 40px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.home-quote__text {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
}

.home-quote__author {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 400;
}

.footer {
  padding-top: 30px;
  background: #F9F4EF;
}

.footer-link {
  color: #e42947;
}

.footer-logo__text {
  padding-top: 10px;
}

.footer-memorials__heading h4, .footer-about__heading h4, .footer-join__heading h4 {
  color: #D6B495;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 17px;
}

.footer-memorials__list ul, .footer-about__list ul {
  list-style: none;
  padding: 10px 0 0 0;
  margin: 0;
}

.footer-memorials__list ul li a, .footer-about__list ul li a {
  color: #4C4C51;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

.footer-join {
  padding-bottom: 10px;
}

.footer-join__input {
  padding-top: 10px;
}

.footer-join__input input {
  border: 1px solid #DFE2E6;
  border-radius: 3px;
  width: 210px;
  height: 50px;
  padding-left: 15px;
  margin-right: 10px;
}

.footer-join__input_btn {
  font-weight: 500;
  text-transform: none;
  padding: 8px 30px;
  border-radius: 8px;
}

.footer-join__input_btn:hover {
  background: #ffffff;
  color: #D6B495;
}

.copy {
  background: #efdfd1;
}

.copy-text {
  font-size: 12px;
  color: #58585D;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.main-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image img {
  object-fit: cover;
}

.modal-login, .modal-login_invited {
  position: fixed;
  width: 500px;
  background: #fff;
  z-index: 200;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.form-heading {
  text-align: center;
  margin: 40px 0 50px 0;
}

.form-heading__title {
  font-size: 22px;
  color: #4C4C51;
}

.modal-login__content {
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form__container {
  width: 350px;
  margin: 0 auto;
}

.login-form__inputs {
  width: 100%;
}

.login-email, .login-password, .login-email__invalid, .login-password__invalid {
  width: 100%;
  text-align: center;
  position: relative;
}

.login-email input, .login-password input, .login-email__invalid input, .login-password__invalid input {
  padding: 4px 40px;
  margin-bottom: 30px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #dfe2e6;
  color: #4C4C51;
}

.login-email input::placeholder, .login-password input::placeholder, .login-email__invalid input::placeholder, .login-password__invalid input::placeholder {
  color: #DFE2E6;
  font-size: 14px;
}

.login-email__invalid input, .login-password__invalid input {
  border: 1px solid #CD233E;
}

.login-email__label, .login-password__label, .login-email__label_invalid, .login-password__label_invalid {
  position: absolute;
  top: -11px;
  left: 32px;
  padding: 0 6px;
  font-size: 12px;
  border: 2px solid #fff;
  background: #fff;
}

.login-email__label_invalid, .login-password__label_invalid {
  color: #CD233E;
}

.invalid {
  position: absolute;
  font-size: 10px;
  top: 45px;
  color: #CD233E;
}

.login-email__mail, .login-password__key, .login-password__eye {
  position: absolute;
}

.login-email__mail, .login-password__key {
  top: 6px;
  left: 10px;
}

.login-password__eye {
  right: 10px;
  top: 10px;
}

.login-form__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.login-form__buttons_register, .login-form__buttons_login {
  width: 160px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  text-transform: unset;
}

.login-form__buttons_register:hover, .login-form__buttons_login:hover {
  background: #fff;
  color: #D6B495;
}

.login-form__checkbox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.login-form__checkbox_remember label {
  margin: 0;
  cursor: pointer;
}

.login-form__checkbox_text {
  position: relative;
  padding-left: 30px;
}

.login-form__checkbox_text:hover {
  color: #2e293a;
}

.login-form__checkbox input[type="checkbox"] {
  display: none;
}

.login-form__checkbox input[type="checkbox"] + .login-form__checkbox_text:before {
  content: url("../images/vektor/checkbox.svg");
  cursor: pointer;
  margin-right: 8px;
  margin-right: 8px;
  position: absolute;
  top: 0;
  left: 0;
}

.login-form__checkbox input[type="checkbox"]:checked + .login-form__checkbox_text:before {
  content: url("../images/vektor/checkbox-checked.svg");
}

.login-form__checkbox_forgotPw a {
  color: #88939E;
  text-decoration: none;
}

.login-form__checkbox_forgotPw a:hover {
  color: #555b61;
}

.login-form__text {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 10px;
}

.login-form__text:before, .login-form__text:after {
  content: '';
  display: block;
  height: 1px;
  width: 100px;
  top: 10px;
  background: #e8e7ec;
  position: absolute;
}

.login-form__text:before {
  left: 0;
}

.login-form__text:after {
  right: 0;
}

.login-form__signIn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.login-form__signIn_google, .login-form__signIn_facebook {
  width: 160px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  border: none;
  padding: 4px 0 0 27px;
  color: #fff;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: 25px;
  transition: all 0.3s ease;
}

.login-form__signIn_google {
  background-image: url("../images/vektor/google-plus.svg");
  background-color: #E5481D;
}

.login-form__signIn_google:hover {
  background-color: #b93916;
}

.login-form__signIn_facebook {
  background-image: url("../images/vektor/facebook-logo.svg");
  background-color: #3F51B5;
}

.login-form__signIn_facebook:hover {
  background-color: #303d8a;
}

.modal-login_invited {
  display: none;
  height: 90%;
}

.login-invited__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0 10px 0;
}

.login-invited__header_images {
  position: relative;
}

.login-invited__header_text {
  font-size: 20px;
  text-align: center;
}

.login-invited__header_text p {
  margin: 0;
  margin: 10px auto;
  width: 80%;
}

.login-with-email {
  color: #88939E;
  font-size: 15px;
  font-weight: 400;
}

.invited_author {
  position: absolute;
  bottom: -2px;
  right: -20px;
}

.slick-initialized {
  visibility: visible;
}

@media only screen and (max-width: 1440px) {
  .login-btn {
    padding: 6px 25px;
    font-size: 14px;
  }
  .header-login {
    top: 27px;
    right: 111px;
  }
  .header-loggedIn {
    right: 82px;
  }
  .header .header-nav__container {
    padding-left: 30px;
  }
  .header-nav li {
    margin: 0 23px;
  }
  .header-nav li a {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1200px) {
  .header-nav li {
    margin: 0 20px;
  }
  .header-nav li a {
    font-size: 15px;
  }
  .header-loggedIn {
    right: 30px;
  }
  .header-login {
    right: 30px;
  }
}

@media only screen and (max-width: 992px) {
  .header {
    height: 60px;
  }
  .header-logo {
    z-index: 50;
  }
  .header-nav {
    position: absolute;
    display: block;
    text-align: center;
    top: -100vh;
    left: 0;
    padding: 15px 0;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.6s ease;
    width: 100%;
    z-index: 150;
  }
  .header-nav li {
    margin: 25px 15px;
  }
  .header-nav li a {
    padding: 15px;
    font-size: 20px;
  }
  .header-nav__active {
    display: block;
    top: 60px;
    transition: all 0.4s ease;
  }
  .hamburger {
    display: block;
  }
  .header-nav__container {
    margin-left: auto;
  }
  .header-login {
    position: absolute;
    top: 10px;
    right: 55px;
  }
  .header-loggedIn {
    top: 6px;
    position: absolute;
    right: 55px;
  }
  .login-btn {
    padding: 6px 25px;
    font-size: 14px;
  }
  .main-about__title {
    font-size: 24px;
  }
  .main-image__item img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 230px;
    max-height: 230px;
  }
  .main-about__subtitle {
    text-align: center;
  }
  .home-line {
    margin-top: 30px;
  }
  .slider-item {
    flex-direction: column;
  }
  .slider-item__info {
    padding-top: 30px;
  }
  .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-about,
  .footer-memorials {
    text-align: center;
  }
  .footer-join {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }
  .modal-login_invited {
    overflow: scroll;
  }
}

@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .header-login {
    margin: 0;
  }
  .login-btn {
    font-size: 13px;
    border-radius: 5px;
    padding: 6px 10px;
  }
  .footer-memorials, .footer-about, .footer-join {
    margin-top: 20px;
  }
  .footer-logo__image, .footer-logo__text {
    text-align: center;
  }
  .login-form__signIn {
    margin-bottom: 50px;
  }
  .modal-login {
    height: 80%;
  }
}

@media only screen and (max-width: 576px) {
  .hamburger {
    display: block;
  }
  .header-login {
    margin: 0;
  }
  .header-logo {
    margin-left: 15px;
  }
  .header-logo img {
    width: 100%;
  }
  .login-btn {
    font-size: 13px;
    border-radius: 5px;
    padding: 6px 9px;
  }
  .main-about__btn {
    padding: 4px 44px;
  }
  .mission-info__tldr {
    width: 100%;
  }
  .main-image__item img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 150px;
    max-height: 150px;
  }
  .slider-item {
    flex-direction: column;
  }
  .slider-item__info {
    padding: 30px 20px 0 30px;
  }
  .slider-item__image {
    display: flex;
    justify-content: center;
  }
  .slider-item__image img {
    width: 180px;
    height: 180px;
  }
  .slider-nav__item {
    width: 88px;
    padding: 0;
  }
  .slider-nav__item img {
    width: 70px;
    height: 70px;
    margin: 0 auto;
  }
  .slider-nav .slick-list {
    width: 70%;
  }
  .next1 {
    left: 228px;
    bottom: 10px;
  }
  .prev1 {
    left: -17px;
    bottom: 10px;
  }
  .home-quote__text {
    font-size: 19px;
  }
  .footer-join__input {
    display: flex;
    flex-direction: column;
  }
  .footer-join__input input {
    width: 100%;
    margin-bottom: 20px;
  }
  .modal-login, .modal-login_invited {
    width: 88vw;
  }
  .login-form__container {
    width: 235px;
  }
  .login-form__buttons_register, .login-form__buttons_login {
    width: 115px;
  }
  .login-form__checkbox {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .login-form__checkbox_remember {
    margin-bottom: 10px;
  }
  .login-form__text {
    margin-bottom: 15px;
  }
  .login-form__text:before, .login-form__text:after {
    width: 50px;
  }
  .login-form__signIn_google, .login-form__signIn_facebook {
    width: 115px;
    font-size: 14px;
    background-position: 10px;
  }
  .login-form__signIn {
    margin-bottom: 20px;
  }
  .header-loggedIn {
    width: 110px;
    padding: 20px 8px;
  }
  .loggedIn-user:after {
    height: 22px;
    background: #8e8e94;
    width: 1px;
    top: -10px;
  }
  .user-name, .pet-name {
    display: none;
  }
  .pet-dropdown {
    top: 15px;
    right: 19px;
  }
  .dropdown-content__pet {
    width: 130%;
  }
  .dropdown-content__user {
    width: 250%;
    top: 30px;
    left: -20px;
  }
}

@media only screen and (max-width: 420px) {
  .header-logo {
    width: 110px;
  }
}

#about-logo {
  min-height: 420px;
  background-color: #F9F4EF;
  display: flex;
  align-items: center;
}

.story {
  margin-bottom: 60px;
}

.story-heading {
  margin-top: 70px;
}

.story-info img {
  float: left;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 30px 30px 0;
}

.story p {
  font-size: 19px;
  font-weight: 400;
  color: #4C4C51;
  padding-bottom: 25px;
}

.story__image {
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .about-image img {
    width: 80%;
  }
  .story-info__image {
    text-align: center;
  }
  .story-info__image img {
    float: none;
  }
}

@media only screen and (max-width: 768px) {
  #about-logo {
    min-height: 270px;
  }
  .about-image img {
    width: 60%;
  }
  .story-info__image {
    text-align: center;
  }
  .story-info__image img {
    float: none;
    margin: 0 0 30px 0;
    width: 200px;
    height: 200px;
  }
  .story-info__image p {
    padding: 0;
  }
}

.subheader {
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 70px;
}

.subheader-top {
  background: url("../images/memorial/memorial-subheader-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 1920px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

.subheader-top:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 110px;
  left: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(30, 30, 30, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 2px;
  z-index: 0;
}

.subheader-top__title {
  text-align: center;
}

.subheader-top__title h2 {
  color: #fff;
  font-size: 56px;
  font-weight: 400;
  padding-right: 50px;
  margin: 0;
}

.subheader-top__button {
  z-index: 3;
}

.subheader-top__button_link {
  background: rgba(0, 0, 0, 0.2);
  padding: 9px 14px;
  border-radius: 40%;
}

.subheader-top__options {
  display: flex;
  position: absolute;
  top: 8%;
  right: 11%;
}

.subheader-top__options a {
  width: 120px;
  height: 55px;
  border-radius: 30px;
  background: rgba(129, 129, 129, 0.8);
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  border: 2px solid #4C4C51;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.subheader-top__options a:hover {
  background: rgba(129, 129, 129, 0.9);
  color: rgba(255, 255, 255, 0.7);
}

.subheader-top__options_edit, .subheader-top__options_add {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subheader-top__options_edit {
  margin-right: 30px;
}

.subheader-top__options_image {
  padding-right: 15px;
}

.subheader-bottom {
  display: flex;
}

.subheader-bottom__image img {
  margin-top: -144px;
  border: 6px solid #fff;
  border-radius: 50%;
}

.subheader-bottom__info {
  padding-left: 40px;
  margin-top: 10px;
}

.subheader-bottom__info_date {
  font-size: 16px;
}

.subheader-bottom__info_subtitle {
  font-size: 22px;
}

.subheader-bottom__info_description {
  font-size: 18px;
}

.memorial-content {
  margin-bottom: 70px;
}

.memorial-content__navbar_line {
  height: 2px;
  background: #D8D8D8;
}

.memorial-content__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
}

.memorial-content__nav_link {
  margin: 20px;
  height: 25px;
  position: relative;
  transition: all 0.4s ease;
}

.memorial-content__nav_link a {
  padding: 20px;
  color: #58585D;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease;
}

.memorial-content__nav_link a:hover {
  color: #e42947;
}

.memorial-content__nav_link:after {
  content: '';
  display: block;
  position: absolute;
  top: -22px;
  left: 50%;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease, left .5s ease;
}

.memorial-content__nav_link:hover:after {
  width: 100%;
  left: 0;
  background: #e42947;
}

.memorial-content__nav_link_active a {
  color: #e42947;
}

.memorial-content__nav_link_active a:after {
  content: '';
  height: 3px;
  display: block;
  position: absolute;
  top: -22px;
  width: 100%;
  background: #e42947;
}

.content-gallery {
  margin: 0 auto;
}

.content-gallery__item {
  width: 262px;
  padding: 10px;
}

.content-gallery__item_title {
  padding: 10px 30px 0 0;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.content-gallery__item_dots {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.content-gallery__item figure {
  margin-bottom: 0;
  border: 7px solid #fff;
}

.content-gallery__item:hover figure {
  border: 7px solid #F3F3F3;
  border-radius: 10px;
  cursor: pointer;
}

.content-gallery__item:hover figcaption {
  background: #F3F3F3;
}

.content-gallery__item:hover .content-gallery__item_dots {
  background: #d3d2d2;
}

.content-gallery__item_image img {
  border-radius: 4px;
  width: 100%;
  min-height: 200px;
  object-fit: cover;
}

.content-gallery__item_like {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}

.content-gallery__item_like img {
  min-height: 0;
}

.content-gallery__item_share {
  position: absolute;
  bottom: 85px;
  right: 27px;
  width: 36px;
  opacity: 0;
  height: 36px;
  border-radius: 50%;
  background: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}

.content-gallery__item_share svg {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #4C4C51;
}

.content-gallery__item:hover .content-gallery__item_like, .content-gallery__item:hover .content-gallery__item_share {
  opacity: 1;
}

.jB-container {
  background: #fff;
  height: 430px;
  width: 300px;
  z-index: 2;
}

.jB-close {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  z-index: 20;
}

.jB-header {
  height: 70px;
  background: #e6e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding-top: 4px;
}

.jB-links {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 13px;
}

.jB-links .share-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.jB-links .share-item-bg {
  background: #efefef;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jB-links .share-item span {
  font-size: 11px;
  padding-top: 8px;
}

.jB-invite {
  padding: 0 25px;
}

.jB-invite__text {
  font-size: 16px;
  margin-top: 5px;
}

.jB-invite__email {
  height: 50px;
  width: 100%;
  margin-top: 15px;
  border-radius: 5px;
  border: 1px solid #D8D8D8;
  padding-left: 20px;
}

.jB-invite__btn {
  height: 50px;
  width: 100%;
  margin-top: 15px;
  background: #e42947;
  color: #ffffff;
  border-radius: 10px;
  padding-top: 11px;
}

.jB-invite__btn:hover {
  color: #e42947;
  background: #fff;
}

#jBox1 {
  z-index: 2 !important;
}

.jBox-pointer-left, .jBox-pointer-right {
  top: 54% !important;
}

.jBox-content {
  padding: 0 !important;
  border-radius: 10px !important;
}

.jBox-header {
  background: #D8D8D8;
  height: 10%;
  text-align: center;
  font-size: 20px;
}

.jBox-container {
  border-radius: 10px !important;
}

.memorial-new {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: flex-end;
  padding-bottom: 50px;
}

.memorial-new__text {
  margin-bottom: 20px;
  letter-spacing: 0;
}

.memorial-new__text p {
  font-size: 32px;
}

.memorial-new__button {
  margin: 0 auto;
}

.memorial-new__button_btn {
  color: #e42947;
  border: 1px solid #e42947;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 40px;
}

.memorial-new__button_btn:hover {
  color: #ffffff;
  background: #e42947;
  outline: none;
  text-decoration: none;
}

body {
  overflow: hidden;
}

.memory-popup {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  background: #fff;
  width: 76vw;
  height: 90vh;
  transform: translate(-50%, -50%);
  z-index: 101;
  border-radius: 15px;
}

.memory-popup__container {
  display: flex;
  height: 100%;
}

.memory-popup__left {
  width: 55%;
  height: 100%;
}

.memory-popup__image {
  height: 100%;
}

.memory-popup__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.memory-popup__right {
  width: 45%;
  height: 100%;
  overflow-y: auto;
}

.memory-popup__heading {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
  position: relative;
}

.memory-popup__heading:after {
  content: '';
  display: block;
  background: #D8D8D8;
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.memory-popup__heading_date {
  padding-right: 75px;
}

.memory-popup__heading_date span {
  color: #4C4C51;
  opacity: 0.5;
}

.memory-popup__heading_name {
  display: flex;
  align-items: center;
  padding-left: 35px;
}

.memory-popup__heading_name_icon img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: center;
}

.memory-popup__heading_name_pet span {
  color: #e42947;
  padding-left: 20px;
}

.memory-popup__title {
  padding: 40px 30px;
}

.memory-popup__title_text {
  font-size: 22px;
}

.memory-popup__title_hashtag {
  font-size: 22px;
  color: #42A5FF;
  cursor: pointer;
}

.memory-popup__comments {
  padding: 0 30px 80px 30px;
}

.memory-popup__comment {
  padding: 15px 0;
}

.memory-popup__comment_data {
  display: flex;
}

.memory-popup__comment_data .comment-author {
  padding-right: 10px;
  color: #4C4C51;
  opacity: 0.5;
}

.memory-popup__comment_data .comment-text {
  color: #4C4C51;
}

.memory-popup__comment_info {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.memory-popup__comment_info .comment-time {
  color: #4C4C51;
  opacity: 0.5;
  width: 60px;
}

.memory-popup__comment_info .comment-reply button {
  border: none;
  background: transparent;
  color: #4C4C51;
  opacity: 0.5;
}

.memory-popup__footer {
  display: flex;
  flex-direction: column;
}

.memory-popup__options {
  padding-top: 30px;
  height: 90px;
  background: rgba(216, 216, 216, 0.16);
}

.memory-popup__postcomment {
  display: flex;
}

.memory-popup__postcomment input {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .subheader-top__title {
    text-align: right;
  }
  .subheader-top__title h2 {
    padding: 0;
  }
  .subheader-bottom {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .subheader-top__title h2 {
    font-size: 40px;
  }
  .subheader-bottom__image img {
    width: 40%;
    margin-top: -90px;
  }
  .subheader-bottom__info {
    padding: 0;
  }
}

@media only screen and (max-width: 576px) {
  .subheader-top__button_link {
    padding: 7px 10px;
  }
  .subheader-top__title h2 {
    font-size: 30px;
  }
  .subheader-bottom__image img {
    width: 35%;
    margin-top: -240px;
  }
  .subheader-bottom__image img {
    width: 140px;
    margin: -196px 0 0 -20px;
  }
  .subheader-top__options a {
    width: 90px;
    height: 42px;
    font-size: 12px;
  }
  .subheader-top__options_image img {
    width: 18px;
  }
  .memorial-content__nav {
    flex-direction: column;
  }
  .memorial-content__nav_link:after, .memorial-content__nav_link:before {
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    left: 50%;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease, left .5s ease;
  }
  .memorial-content__nav_link:before {
    right: 50%;
    background: #e42947;
    left: 80%;
  }
  .memorial-content__nav_link:hover:after, .memorial-content__nav_link:hover:before {
    width: 20%;
    left: -10px;
    background: #e42947;
  }
  .memorial-content__nav_link_active a {
    color: #e42947;
  }
  .memorial-content__nav_link_active a:after {
    display: none;
  }
  .memorial-content__nav_link_active:after, .memorial-content__nav_link_active:before {
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    left: -10px;
    height: 3px;
    width: 20%;
    background: #e42947;
    transition: width .5s ease, background-color .5s ease, left .5s ease;
  }
  .jBox-pointer-left, .jBox-pointer-right {
    top: 56% !important;
  }
  .jB-container {
    width: 202px;
    height: 270px;
  }
  .jB-header {
    height: 40px;
    font-size: 15px;
    padding-top: 4px;
  }
  .jB-links {
    justify-content: space-around;
    padding: 5px 5px;
  }
  .jB-links .share-item {
    width: 47px;
    margin: 3px;
  }
  .jB-links .share-item a {
    width: 30px;
    height: 30px;
  }
  .jB-links .share-item a img {
    width: 30px;
  }
  .jB-links .share-item a.share-item-bg img {
    width: 20px;
  }
  .jB-links .share-item span {
    font-size: 9px;
    padding-top: 3px;
  }
  .jB-invite {
    padding: 0 10px;
  }
  .jB-invite__text {
    font-size: 12px;
    margin-top: 5px;
  }
  .jB-invite__email {
    font-size: 14px;
    height: 35px;
    margin-top: 8px;
  }
  .jB-invite__btn {
    font-size: 15px;
    height: 35px;
    margin-top: 8px;
    padding-top: 6px;
  }
}
/*# sourceMappingURL=style.css.map */