.mb-15 {
  margin-bottom: 30px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #58585D;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

.main-page-heading {
  color: #C79C74;
  text-align: center;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 1.8px;
  font-weight: 500;
}

.btn {
  border: none;
  background: #D6B495;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  border: 2px solid #D6B495;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.red-btn {
  background: #fff;
  color: #e42947;
  font-weight: 400;
  font-size: 18px;
  border-radius: 5px;
  padding: 6px 37px;
  border: 2px solid #e42947;
  transition: all 0.3s ease;
  outline: none;
}

.red-btn:hover {
  color: #ffffff;
  background: #e42947;
  outline: none;
}

.no-bg-btn {
  border: none;
  color: #D6B495;
  background: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.no-bg-btn:hover {
  color: #E2CBB6;
}

#active-page {
  color: #e42947;
}

.header {
  height: 90px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}

.header-login {
  margin-left: 160px;
}

.header-nav {
  display: flex;
  list-style: none;
}

.header-nav li {
  margin: 0 26px;
}

.header-nav li a {
  color: #58585D;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.header-nav li a:hover {
  color: #e42947;
}

.header .header-nav__container {
  margin-right: auto;
  padding-left: 60px;
}

.header-loggedIn {
  margin-left: 160px;
  padding: 10px 8px;
  display: flex;
  align-items: center;
  width: 260px;
  background: #f5f5f5;
  border-radius: 40px;
  position: absolute;
  top: 21px;
  right: 176px;
}

.loggedIn-user {
  position: relative;
  width: 60%;
}

.loggedIn-user:after {
  content: '';
  display: block;
  height: 100%;
  background: #8e8e94;
  width: 2px;
  position: absolute;
  top: 0;
  right: 0;
}

.loggedIn-pet {
  width: 40%;
}

.dropbtn-pet, .dropbtn-user {
  color: #58585D;
  border: none;
  background: #f5f5f5;
  display: flex;
  align-items: center;
}

.dropbtn-pet p, .dropbtn-user p {
  margin: 0;
}

.dropdown-content__pet, .dropdown-content__user {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 90%;
  background: #fff;
  left: 0;
  top: 50px;
  border-radius: 20px;
}

.dropdown-content__pet a, .dropdown-content__user a {
  padding: 7px 20px;
  font-size: 17px;
  color: #e42947;
  text-decoration: none;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.dropdown-content__pet a:hover, .dropdown-content__user a:hover {
  background: #f5f5f5;
}

.dropdown-content__pet a:first-of-type, .dropdown-content__user a:first-of-type {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.dropdown-content__pet a:last-of-type, .dropdown-content__user a:last-of-type {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.dropdown-content__user {
  display: none;
  width: 150%;
  background: #fff;
  left: -8px;
  top: 40px;
}

.dropdown-content__user a {
  color: #58585D;
}

.dropdown-content__user a:first-of-type {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.dropdown-content__user a:last-of-type {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.dropdown-content__pet_active, .dropdown-content__user_active {
  display: flex;
}

.user-name {
  max-width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-name:focus {
  outline: none;
}

.user-image {
  width: 36px;
  height: 36px;
  margin-left: 10px;
  border-radius: 50%;
  position: absolute;
  right: 17px;
}

.pet-name {
  max-width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #e42947;
}

.pet-dropdown {
  position: absolute;
  top: 18px;
  right: 15px;
  transition: all 0.3s ease;
}

.hamburger {
  position: absolute;
  display: inline-block;
  top: 17px;
  right: 5px;
  overflow: visible;
  margin: 0;
  background-color: transparent;
  display: none;
}

.hamburger__container {
  position: relative;
  width: 35px;
  height: 24px;
  top: 0;
}

.hamburger__lines {
  position: absolute;
  display: block;
  width: 30px;
  height: 3px;
  background-color: #D6B495;
  border-radius: 10px;
  top: auto;
  bottom: 0;
  transition: all 0.2s;
}

.hamburger__lines:before, .hamburger__lines:after {
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 10px;
  bottom: 0;
  background-color: #D6B495;
}

.hamburger__lines:before {
  top: -10px;
  transition: all 0.2s;
}

.hamburger__lines:after {
  bottom: -10px;
  top: -20px;
  transition: all 0.2s;
}

.hamburger__active .hamburger__lines {
  transition: all 0.3s;
  background: transparent;
}

.hamburger__active .hamburger__lines:before {
  top: -10px;
  transform: rotate(135deg);
}

.hamburger__active .hamburger__lines:after {
  bottom: -10px;
  top: -10px;
  transform: rotate(-135deg);
}

.header-nav__active {
  position: absolute;
  display: block;
  text-align: center;
  left: 0;
  right: 0;
  top: 90px;
  padding: 15px 0;
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease;
}

.header-nav__active li {
  margin: 25px 15px;
}

.login-btn {
  background: #fff;
  color: #e42947;
  font-weight: 400;
  font-size: 18px;
  border-radius: 5px;
  padding: 6px 37px;
  border: 2px solid #e42947;
  transition: all 0.3s ease;
  outline: none;
}

.login-btn:hover {
  color: #ffffff;
  background: #e42947;
  outline: none;
}

#home {
  margin-top: 20px;
}

.main-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-about__title {
  color: #4C4C51;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0.4px;
  line-height: 1.3;
}

.main-about__subtitle {
  margin-top: 18px;
  font-weight: 500;
}

.main-about__btn {
  padding: 4px 65px;
  margin-top: 50px;
}

.main-about__btn:hover {
  background: #ffffff;
  color: #D6B495;
  outline: none;
}

.main-about__example_btn {
  margin-top: 25px;
  outline: none;
}

.main-about__example_btn:hover {
  outline: none;
}

.main-image {
  visibility: hidden;
}

.main-image__item img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 380px;
  max-height: 380px;
  object-fit: cover;
}

.home-line {
  background: #e8e8e8;
  height: 2px;
}

.mission {
  margin-top: 80px;
}

.mission-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mission-info__text {
  text-align: center;
  line-height: 2.3;
  font-size: 17px;
}

.mission-info__tldr {
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  width: 70%;
  padding-bottom: 55px;
}

.mission-info__background img {
  display: block;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.features {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #F9F4EF;
  padding-bottom: 60px;
}

.features-heading {
  margin: 20px 0 42px 0;
}

.features-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.features-item__image img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0.85;
}

.features-item__title {
  text-transform: uppercase;
  padding-top: 26px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.articles {
  margin-top: 70px;
}

.articles-btn {
  margin: 30px 0 60px 0;
}

.articles-item {
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
  padding-bottom: 15px;
}

.articles-item__image {
  height: 273px;
}

.articles-item__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 6px solid #fff;
}

.articles-item__title {
  font-size: 21px;
  font-weight: 400;
  color: #4C4C51;
  max-width: 90%;
  padding: 15px 15px 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.articles-item__text {
  font-size: 18px;
  font-weight: 400;
  color: #88939E;
  padding: 25px 15px 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.testimonials {
  background-color: #F9F4EF;
  padding: 70px 0 45px 0;
  max-width: 1920px;
  margin: 0 auto;
}

.testimonials-slider {
  visibility: hidden;
}

.slider-item__info {
  padding: 0 40px;
  width: 100%;
}

.slider-item__info_author {
  text-align: right;
  color: #D6B495;
  padding-right: 30px;
}

.slider-item__image img {
  width: 320px;
  height: 320px;
  object-fit: cover;
  border-radius: 50%;
}

.slider-nav {
  display: flex;
  justify-content: center;
  width: 250px;
  margin: 0 auto;
  visibility: hidden;
}

.slider-nav__item {
  padding: 0 15px;
  cursor: pointer;
}

.slider-nav__item img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
}

.prev1 {
  background: url("../images/arrow-left.png");
  width: 40px;
  height: 40px;
  font-size: 50px;
  position: absolute;
  left: -46px;
  bottom: 25px;
  cursor: pointer;
}

.next1 {
  background: url("../images/arrow-right.png");
  width: 40px;
  height: 40px;
  font-size: 50px;
  position: absolute;
  left: 265px;
  bottom: 25px;
  cursor: pointer;
}

.home-quote {
  background: url("../images/quote1.png") no-repeat center;
  background-size: cover;
  height: 550px;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}

.home-quote__container {
  padding-bottom: 40px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.home-quote__text {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
}

.home-quote__author {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 400;
}

.footer {
  padding-top: 30px;
  background: #F9F4EF;
}

.footer-link {
  color: #e42947;
}

.footer-logo__text {
  padding-top: 10px;
}

.footer-memorials__heading h4, .footer-about__heading h4, .footer-join__heading h4 {
  color: #D6B495;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 17px;
}

.footer-memorials__list ul, .footer-about__list ul {
  list-style: none;
  padding: 10px 0 0 0;
  margin: 0;
}

.footer-memorials__list ul li a, .footer-about__list ul li a {
  color: #4C4C51;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

.footer-join {
  padding-bottom: 10px;
}

.footer-join__input {
  padding-top: 10px;
}

.footer-join__input input {
  border: 1px solid #DFE2E6;
  border-radius: 3px;
  width: 210px;
  height: 50px;
  padding-left: 15px;
  margin-right: 10px;
}

.footer-join__input_btn {
  font-weight: 500;
  text-transform: none;
  padding: 8px 30px;
  border-radius: 8px;
}

.footer-join__input_btn:hover {
  background: #ffffff;
  color: #D6B495;
  outline: none;
}

.copy {
  background: #efdfd1;
}

.copy-text {
  font-size: 12px;
  color: #58585D;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.main-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image img {
  object-fit: cover;
}

.black-fill {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

.close-modal {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.modal-login, .modal-login_invited {
  position: fixed;
  width: 500px;
  background: #fff;
  z-index: 200;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.form-heading {
  text-align: center;
  margin: 40px 0 50px 0;
}

.form-heading__title {
  font-size: 22px;
  color: #4C4C51;
}

.modal-login__content {
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form__container {
  width: 350px;
  margin: 0 auto;
}

.login-form__inputs {
  width: 100%;
}

.login-email, .login-password, .login-email__invalid, .login-password__invalid {
  width: 100%;
  text-align: center;
  position: relative;
}

.login-email input, .login-password input, .login-email__invalid input, .login-password__invalid input {
  padding: 4px 40px;
  margin-bottom: 30px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #dfe2e6;
  color: #4C4C51;
}

.login-email input::placeholder, .login-password input::placeholder, .login-email__invalid input::placeholder, .login-password__invalid input::placeholder {
  color: #DFE2E6;
  font-size: 14px;
}

.login-email__invalid input, .login-password__invalid input {
  border: 1px solid #CD233E;
}

.login-email__label, .login-password__label, .login-email__label_invalid, .login-password__label_invalid {
  position: absolute;
  top: -11px;
  left: 32px;
  padding: 0 6px;
  font-size: 12px;
  border: 2px solid #fff;
  background: #fff;
}

.login-email__label_invalid, .login-password__label_invalid {
  color: #CD233E;
}

.invalid {
  position: absolute;
  font-size: 10px;
  top: 45px;
  color: #CD233E;
}

.login-email__mail, .login-password__key, .login-password__eye {
  position: absolute;
}

.login-email__mail, .login-password__key {
  top: 6px;
  left: 10px;
}

.login-password__eye {
  right: 10px;
  top: 10px;
}

.login-form__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.login-form__buttons_register, .login-form__buttons_login {
  width: 160px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  text-transform: unset;
}

.login-form__buttons_register:hover, .login-form__buttons_login:hover {
  background: #fff;
  color: #D6B495;
}

.login-form__checkbox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.login-form__checkbox_remember label {
  margin: 0;
  cursor: pointer;
}

.login-form__checkbox_text {
  position: relative;
  padding-left: 30px;
}

.login-form__checkbox_text:hover {
  color: #2e293a;
}

.login-form__checkbox input[type="checkbox"] {
  display: none;
}

.login-form__checkbox input[type="checkbox"] + .login-form__checkbox_text:before {
  content: url("../images/vektor/checkbox.svg");
  cursor: pointer;
  margin-right: 8px;
  margin-right: 8px;
  position: absolute;
  top: 0;
  left: 0;
}

.login-form__checkbox input[type="checkbox"]:checked + .login-form__checkbox_text:before {
  content: url("../images/vektor/checkbox-checked.svg");
}

.login-form__checkbox_forgotPw a {
  color: #88939E;
  text-decoration: none;
}

.login-form__checkbox_forgotPw a:hover {
  color: #555b61;
}

.login-form__text {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 10px;
}

.login-form__text:before, .login-form__text:after {
  content: '';
  display: block;
  height: 1px;
  width: 100px;
  top: 10px;
  background: #e8e7ec;
  position: absolute;
}

.login-form__text:before {
  left: 0;
}

.login-form__text:after {
  right: 0;
}

.login-form__signIn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.login-form__signIn_google, .login-form__signIn_facebook {
  width: 160px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  border: none;
  padding: 4px 0 0 27px;
  color: #fff;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: 25px;
  transition: all 0.3s ease;
}

.login-form__signIn_google {
  background-image: url("../images/vektor/google-plus.svg");
  background-color: #E5481D;
}

.login-form__signIn_google:hover {
  background-color: #b93916;
}

.login-form__signIn_facebook {
  background-image: url("../images/vektor/facebook-logo.svg");
  background-color: #3F51B5;
}

.login-form__signIn_facebook:hover {
  background-color: #303d8a;
}

.modal-login_invited {
  display: none;
  height: 90%;
}

.login-invited__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0 10px 0;
}

.login-invited__header_images {
  position: relative;
}

.login-invited__header_text {
  font-size: 20px;
  text-align: center;
}

.login-invited__header_text p {
  margin: 0;
  margin: 10px auto;
  width: 80%;
}

.login-with-email {
  color: #88939E;
  font-size: 15px;
  font-weight: 400;
}

.invited_author {
  position: absolute;
  bottom: -2px;
  right: -20px;
}

.slick-initialized {
  visibility: visible;
}

@media only screen and (max-width: 1440px) {
  .login-btn {
    padding: 6px 25px;
    font-size: 14px;
  }
  .header-login {
    margin-left: 100px;
  }
  .header-loggedIn {
    right: 82px;
  }
  .header .header-nav__container {
    padding-left: 30px;
  }
  .header-nav li {
    margin: 0 23px;
  }
  .header-nav li a {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1200px) {
  .header-nav li {
    margin: 0 20px;
  }
  .header-nav li a {
    font-size: 15px;
  }
  .header-loggedIn {
    right: 30px;
  }
}

@media only screen and (max-width: 992px) {
  .header {
    height: 60px;
  }
  .header-logo {
    z-index: 50;
  }
  .header-nav {
    position: absolute;
    display: block;
    text-align: center;
    top: -100vh;
    left: 0;
    padding: 15px 0;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.6s ease;
    width: 100%;
    z-index: 150;
  }
  .header-nav li {
    margin: 25px 15px;
  }
  .header-nav li a {
    padding: 15px;
  }
  .header-nav__active {
    display: block;
    top: 60px;
    transition: all 0.4s ease;
  }
  .hamburger {
    display: block;
  }
  .header-nav__container {
    margin-left: auto;
  }
  .header-login {
    position: absolute;
    top: 10px;
    right: 55px;
  }
  .header-loggedIn {
    top: 6px;
    position: absolute;
    right: 55px;
  }
  .login-btn {
    padding: 6px 25px;
    font-size: 14px;
  }
  .main-about__title {
    font-size: 24px;
  }
  .main-image__item img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 230px;
    max-height: 230px;
  }
  .main-about__subtitle {
    text-align: center;
  }
  .home-line {
    margin-top: 30px;
  }
  .slider-item {
    flex-direction: column;
  }
  .slider-item__info {
    padding-top: 30px;
  }
  .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-about,
  .footer-memorials {
    text-align: center;
  }
  .footer-join {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }
  .modal-login_invited {
    overflow: scroll;
  }
}

@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .header-login {
    margin: 0;
  }
  .login-btn {
    font-size: 13px;
    border-radius: 5px;
    padding: 6px 10px;
  }
  .footer-memorials, .footer-about, .footer-join {
    margin-top: 20px;
  }
  .footer-logo__image, .footer-logo__text {
    text-align: center;
  }
  .login-form__signIn {
    margin-bottom: 50px;
  }
  .modal-login {
    height: 80%;
  }
}

@media only screen and (max-width: 576px) {
  .hamburger {
    display: block;
  }
  .header-login {
    margin: 0;
  }
  .header-logo {
    margin-left: 15px;
  }
  .header-logo img {
    width: 100%;
  }
  .login-btn {
    font-size: 13px;
    border-radius: 5px;
    padding: 6px 9px;
  }
  .main-about__btn {
    padding: 4px 44px;
  }
  .mission-info__tldr {
    width: 100%;
  }
  .main-image__item img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 150px;
    max-height: 150px;
  }
  .slider-item {
    flex-direction: column;
  }
  .slider-item__info {
    padding: 30px 20px 0 30px;
  }
  .slider-item__image {
    display: flex;
    justify-content: center;
  }
  .slider-item__image img {
    width: 180px;
    height: 180px;
  }
  .slider-nav__item {
    width: 88px;
    padding: 0;
  }
  .slider-nav__item img {
    width: 70px;
    height: 70px;
    margin: 0 auto;
  }
  .slider-nav .slick-list {
    width: 70%;
  }
  .next1 {
    left: 228px;
    bottom: 10px;
  }
  .prev1 {
    left: -17px;
    bottom: 10px;
  }
  .home-quote__text {
    font-size: 19px;
  }
  .footer-join__input {
    display: flex;
    flex-direction: column;
  }
  .footer-join__input input {
    width: 100%;
    margin-bottom: 20px;
  }
  .modal-login, .modal-login_invited {
    width: 88vw;
  }
  .login-form__container {
    width: 235px;
  }
  .login-form__buttons_register, .login-form__buttons_login {
    width: 115px;
  }
  .login-form__checkbox {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .login-form__checkbox_remember {
    margin-bottom: 10px;
  }
  .login-form__text {
    margin-bottom: 15px;
  }
  .login-form__text:before, .login-form__text:after {
    width: 50px;
  }
  .login-form__signIn_google, .login-form__signIn_facebook {
    width: 115px;
    font-size: 14px;
    background-position: 10px;
  }
  .login-form__signIn {
    margin-bottom: 20px;
  }
  .header-loggedIn {
    width: 110px;
    padding: 20px 8px;
  }
  .loggedIn-user:after {
    height: 22px;
    background: #8e8e94;
    width: 1px;
    top: -10px;
  }
  .user-name, .pet-name {
    display: none;
  }
  .pet-dropdown {
    top: 15px;
    right: 19px;
  }
  .dropdown-content__pet {
    width: 130%;
  }
  .dropdown-content__user {
    width: 250%;
    top: 30px;
    left: -20px;
  }
}

@media only screen and (max-width: 420px) {
  .header-logo {
    width: 110px;
  }
}
