$regular-black: #58585D
$regular: #88939E
$logo-red: #e42947
$button-brown: #D6B495
$title-brown: #C79C74
$title-black: #4C4C51
$background-coffe: #F9F4EF
  
body 
  font-family: 'Roboto', sans-serif 
  color: $regular-black
  box-sizing: border-box

.title-brown
  color: $title-brown
  text-align: center
  font-size: 45px
  font-weight: 400
  letter-spacing: 1.8px
  font-weight: 500

.btn
  border: none
  background: $button-brown
  color: #ffffff
  text-transform: uppercase
  font-weight: 700
  font-size: 18px
  border: 2px solid $button-brown
  border-radius: 5px
  transition: all 0.3s ease
  
.no-bg-btn
  border: none
  color: $button-brown
  background: #fff
  text-transform: uppercase
  font-weight: 700
  font-size: 18px
  transition: all 0.3s ease
  cursor: pointer
  &:hover
    color: #E2CBB6


.header
  display: flex
  justify-content: center
  align-items: center
  height: 90px
  background: rgba(255,255,255,0.9)
  position: sticky
  top: 0
  z-index: 999
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)
  &-logo
    padding: 10px 20px
  &-btn
    padding-left: 15vw
.menu
  display: flex
  align-items: center
  margin: 0
  padding: 0 0 0 10px
  list-style: none
  max-height: 0
  transition: max-height 0.2s ease-out
  &-btn
    display: none
  & li
    & a
      display: block
      padding: 10px
      color: $regular-black
      text-decoration: none
      font-weight: 400
      font-size: 19px
      transition: all 0.4s ease
      &:hover
        color: $logo-red



.login-btn
  margin-top: 0
  background: #fff
  color: #e42947
  font-weight: 500
  font-size: 18px
  border-radius: 5px
  padding: 6px 37px
  border: 2px solid $logo-red
  transition: all 0.3s ease 
  outline: none
  &:hover
    color: $regular-black
    border-radius: 20px
    border-color: $regular-black
    outline: none

// Home Section
#home
  margin-top: 20px
.main-about
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  &__title
    color: $title-black
    text-align: center
    font-size: 30px
    letter-spacing: 0.4px
    line-height: 1.3
  &__subtitle
    margin-top: 18px
    font-weight: 500
  &__btn  
    padding: 4px 65px
    margin-top: 50px
    &:hover
      background: #ffffff
      color: $button-brown
      outline: none
  &__example_btn
    margin-top: 25px
    outline: none
    &:hover
      outline: none
.main-image img
  display: block
  width: 100%
.home-line
  background: #e8e8e8
  height: 2px
// Mission section
.mission
  margin-top: 80px
  &-info
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &__text
      text-align: center
      line-height: 2.3
      font-size: 17px
    &__tldr
      text-align: center
      font-weight: 700
      font-size: 17px
      width: 70%
      padding-bottom: 55px
    &__background
      & img
        display: block
        width: 100%
        max-width: 1920px
        margin: 0 auto
// Features section
.features
  max-width: 1920px
  margin: 0 auto
  background-color: $background-coffe
  padding-bottom: 60px
  &-heading
    margin: 20px 0 42px 0
  &-item
    padding: 15px 15px
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    margin: 0 auto
    &__image
      & img
        width: 150px
        height: 150px
        object-fit: cover
        border-radius: 50%
        opacity: 0.85
    &__title
      text-transform: uppercase
      padding-top: 26px
      font-weight: 500
// Gallery section
.gallery
  margin: 70px 0
  &-btn
    padding: 7px 55px
    &:hover
      background: #ffffff
      color: $button-brown
  &-wrapper
    max-width: 1920px
    margin: 70px auto
    margin-bottom: 0
    position: relative
    &:after
      box-shadow: 1px 184px 85px 166px rgba(251, 251, 251, 0.8)
      content: ''
      position: absolute
      left: -50%
      width: 150%
      transform: rotate(180deg)
      z-index: 8
    &__btn
      max-width: 1920px
      margin: 0 auto
      z-index: 10
  &-container
    column-count: 5
    column-gap: 20px
  &-item
    margin-bottom: 30px
    display: inline-block
    width: 100%
    &__title
      padding: 10px 35px 0 0
      position: relative
    &__dots
      text-decoration: none
      color: $regular-black
      position: absolute
      top: 0
      right: 0
      cursor: pointer
      font-size: 20px
      transition: all 0.4s ease
      &:hover
        transform: scale(1.4)
    &__image
      width: 262px
      display: block
      width: 100%
      & img
        display: block
        width: 100%
        border-radius: 5px
// Articles Section
.articles
  margin-top: 70px
  &-btn
    margin: 30px 0 60px 0
  &-item
    border: 2px solid transparent
    border-radius: 5px
    box-shadow: 0 2px 30px rgba(0,0,0,0.15)
    max-width: 350px
    margin: 15px 15px
    padding: 0
    &__image img
      display: block
      width: 100%
    &__title
      font-size: 22px
      font-weight: 400
      color: $title-black
      max-width: 75%
      padding: 15px 15px 25px 15px
    &__text
      font-size: 18px
      font-weight: 400
      color: $regular
      padding: 0 15px
// Testimonials section
.testimonials 
  background-color: $background-coffe
  padding: 70px 0 45px 0
.slider
  &-item
    flex-direction: row
    &__image
      display: block
      width: 100%
      & img
        width: 100%
        display: block
    &__info
      &_text
        font-size: 20px
        font-weight: 400
        padding: 20px
      &_author
        color: #D6B495
        font-size: 18px
        position: absolute
        right: 40px
.slider-nav
  margin: 0 auto
  display: flex
  justify-content: center
  &__item 
    padding: 0 15px
    & img
      width: 110px
    &_active
      & img
        opacity: 0.5
  &__arrow
    display: flex
    align-items: center
.slick_next, .slick_prev
  background: url('../images/arrow-right.png')
  width: 40px
  height: 40px
  border: none
.slick_prev
  background: url('../images/arrow-left.png')
// Quote section
.quote
  background: url('../images/quote1.png') no-repeat center
  background-size: cover
  height: 550px
  &-container
    padding-bottom: 40px
  &-text
    // max-width: 47%
    text-align: center
    font-size: 25
    font-weight: 400
  &-author
    margin-top: 20px
    font-size: 25
    font-weight: 400  

// Footer
.footer
  padding-top: 30px
  background: $background-coffe
  &-link
    color: $logo-red
  &-logo
    &__text
      padding-top: 10px
  &-memorials__heading h4, &-about__heading h4, &-join__heading h4
    color: $button-brown
    font-weight: 500
    text-transform: uppercase
    font-size: 17px
  &-memorials__list ul, &-about__list ul
    list-style: none
    padding: 10px 0 0 0
    margin: 0
    & li a
      color: $title-black
      text-decoration: none
      font-size: 16px
      font-weight: 400
  &-join
    padding-bottom: 10px
  &-join__input 
    padding-top: 10px
    & input
      border: 1px solid #DFE2E6
      border-radius: 3px
      width: 210px
      height: 50px
      padding-left: 15px
      margin-right: 10px
    &_btn
      font-weight: 500
      text-transform: none
      padding: 8px 30px
      border-radius: 8px
      &:hover
        background: #ffffff
        color: $button-brown
        outline: none
.copy
  background: #efdfd1
  &-text
    font-size: 12px
    color: $regular-black
    margin: 0
    padding: 10px
    text-align: center


.main-image
  display: flex
  justify-content: center
  align-items: center

  // display: flex
  // justify-content: center
  // align-items: center
  & img
    object-fit: cover

@media only screen and (min-width: 992px) and (max-width: 1440px)
  .menu li a
    font-size: 15px
  .login-btn
    padding: 6px 25px
    font-size: 14px
  .gallery-container
    column-count: 4
@media only screen and (max-width: 992px) and (min-width: 768px)
  .menu li a
    font-size: 15px
  .login-btn
    padding: 6px 25px
    font-size: 14px
  .header-logo__container
    text-align: center
    padding-top: 20px
  .header-btn
    padding: 3vw
  .main-nav
    text-align: center
  .header-btn__container
    display: flex
    justify-content: center
    margin-bottom: 20px
  .main-about__title 
    font-size: 24px
  .gallery-container
    column-count: 3
  .slider-item
    flex-direction: column
    &__image 
      display: flex
      justify-content: center
      & img
        max-width: 320px
    &__info
      &_author
        right: 50px
        bottom: 100px

  .footer-logo
    display: flex
    flex-direction: column
    align-items: center
  .footer-about,
  .footer-memorials
    text-align: center
  .footer-join
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding-bottom: 10px

@media only screen and (max-width: 768px) and (min-width: 576px)
  .header
    display: block
    padding-top: 20px
    z-index: 999
    background: rgba(255,255,255,0.9)
    position: sticky
    top: 0
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)
    height: auto
    &-logo
      padding: 10px 20px
    &-container
      padding: 15px
    &-btn
      padding: 0
  .menu
    display: block
    margin: 25px 0 0 0
    padding: 0 0 0 10px
    overflow: hidden
    max-height: 0
    transition: max-height 0.2s ease-out
    &-icon
      padding: 28px 20px
      position: absolute
      right: 0
      top: 10px
      cursor: pointer
    &-btn
      display: none
    & li
      & a
        display: block
        padding: 7px
        color: $regular-black
        text-decoration: none
        font-weight: 500
        font-size: 19px
        transition: all 0.4s ease
        &:hover
          background: $background-coffe
          color: $logo-red
  .nav-icon
    background: $button-brown
    display: block
    height: 2px
    width: 25px
    position: relative
    transition: background .2 ease-out
    &:before, &:after
      background: $button-brown
      content: ''
      display: block
      height: 100%
      width: 100%
      position: absolute
      transition: all .2s ease-out
      top: 6px       
    &:after
      top: -6px
  .nav-box
    text-align: right

  .menu-btn:checked ~ .menu
    max-height: 240px
  .menu-btn:checked ~ .menu-icon .nav-icon
    background: transparent
  .menu-btn:checked ~ .menu-icon .nav-icon:before
    transform: rotate(-45deg)
    top: 0
  .menu-btn:checked ~ .menu-icon .nav-icon:after
    transform: rotate(45deg)
    top: 0
  .login-btn
    margin-top: 25px
  .mission-info__tldr
    width: 100%
  .gallery-container
    column-count: 2
  .slider-item
    flex-direction: column
    &__image
      width: 60%
      & img
    &__info
      &_text
        font-size: 16px
        line-height: 1.7
        padding-bottom: 50px
      &_author
        position: static
        text-align: center
  .slider-nav
    &__item
      width: 25%
      display: block
      & img
        width: 100%
        display: block
  .footer-memorials, .footer-about, .footer-join
    margin-top: 20px
  .footer-logo__image, .footer-logo__text
    text-align: center
@media only screen and (min-width: 320px) and (max-width: 576px)
  .header
    display: block
    padding-top: 20px
    z-index: 999
    background: rgba(255,255,255,0.9)
    position: sticky
    top: 0
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)
    height: auto
    &-logo
      padding: 10px 20px
    &-container
      padding: 15px
    &-btn
      padding: 0
  .menu
    display: block
    margin: 25px 0 0 0
    padding: 0 0 0 10px
    overflow: hidden
    max-height: 0
    transition: max-height 0.2s ease-out
    &-icon
      padding: 28px 20px
      position: absolute
      right: 0
      top: 10px
      cursor: pointer
    &-btn
      display: none
    & li
      & a
        display: block
        padding: 7px
        color: $regular-black
        text-decoration: none
        font-weight: 500
        font-size: 19px
        transition: all 0.4s ease
        &:hover
          background: $background-coffe
          color: $logo-red
  .nav-icon
    background: $button-brown
    display: block
    height: 2px
    width: 25px
    position: relative
    transition: background .2 ease-out
    &:before, &:after
      background: $button-brown
      content: ''
      display: block
      height: 100%
      width: 100%
      position: absolute
      transition: all .2s ease-out
      top: 6px       
    &:after
      top: -6px
  .nav-box
    text-align: right

  .menu-btn:checked ~ .menu
    max-height: 240px
  .menu-btn:checked ~ .menu-icon .nav-icon
    background: transparent
  .menu-btn:checked ~ .menu-icon .nav-icon:before
    transform: rotate(-45deg)
    top: 0
  .menu-btn:checked ~ .menu-icon .nav-icon:after
    transform: rotate(45deg)
    top: 0
  .login-btn
    margin-top: 25px
  .main-about__btn
    padding: 4px 44px
  .mission-info__tldr
    width: 100%
  .gallery-container
    column-count: 1
  .slider-item
    flex-direction: column
    &__image
      width: 60%
    &__info
      &_text
        font-size: 16px
        line-height: 1.7
        padding-bottom: 50px
      &_author
        position: static
        text-align: center
  .slider-nav
    &__item
      width: 100%
      display: block
      & img
        display: block
        width: 100%
  .footer-memorials, .footer-about, .footer-join
    margin-top: 20px
  .footer-logo__image, .footer-logo__text
    text-align: center
  .footer-join__input
    display: flex
    flex-direction: column
    & input
      width: 100%
      margin-bottom: 20px