@import "../abstracts/variables"

.btn
  border: none
  background: $button-brown
  color: #ffffff
  text-transform: uppercase
  font-weight: 700
  font-size: 18px
  border: 2px solid $button-brown
  border-radius: 5px
  transition: all 0.3s ease
.red-btn
  background: #fff
  color: #e42947
  font-weight: 400
  font-size: 18px
  border-radius: 5px
  padding: 6px 37px
  border: 2px solid $login-red
  transition: all 0.3s ease 
  outline: none
  &:hover
    color: #ffffff
    background: $login-red
    outline: none
.no-bg-btn
  border: none
  color: $button-brown
  background: #fff
  text-transform: uppercase
  font-weight: 400
  font-size: 18px
  transition: all 0.3s ease
  cursor: pointer
  &:hover
    color: #E2CBB6