body 
  font-family: "SFTextRegular", "RobotoRegular", sans-serif
  font-weight: 400
  color: $regular-black
  box-sizing: border-box

p,ul,label,h1,h2,h3,h4,h5
  margin: 0
  padding: 0

input[type="search"]::-webkit-search-cancel-button
  -webkit-appearance: none
  height: 30px
  width: 30px
  background-color: #D8D8D8
  background-image: url(../images/vektor/close-black.svg)
  background-size: 12px
  background-repeat: no-repeat
  background-position: center
  border-radius: 50%