@import "../abstracts/variables"
@import "../abstracts/mixins"

.articles-blog-items
  margin-top: 50px

.blog-pagination, .blog-pagination-mobile
  margin: 50px 0
  a
    padding: 9px 14px
    text-decoration: none
    color: $title-brown
  .page
    margin: 0 5px
    border-radius: 5px
    border: 1px solid transparent
    &:hover
      border: 1px solid $title-brown
  .page-active
    background: $title-brown
    color: #fff
  .page-arrow-prev, .page-arrow-next
    transition: all 0.3s ease
    &:hover
      color: #D6B495
.blog-pagination-mobile
  display: none
@media only screen and (max-width: 576px)
  .blog-pagination
    display: none
  .blog-pagination-mobile
    display: block
  